
<div class="sign-in">
	<%= form_for(:session, url: sessions_path) do |f| %>
	  <%= render 'shared/user_fields', f: f %>
	  <%= f.submit "Sign in" %>
	<% end %>
	<small><a href="#">signup</a></small>
</div>
