
<div class="sign-in">
	<%= form_for(:session, url: sessions_path) do |f| %>

	  <%= f.text_field :email, placeholder: "Email" %>
	  <%= f.password_field :password, placeholder: "Password" %>

	  <%= f.submit "Sign in" %>
	<% end %>
	<small><a href="#">signup</a></small>
</div>
