
<div class="sign-in">
	<%= form_for(:session, url: sessions_path) do |f| %>
	  <%= render 'shared/user_fields', f: f %>
	  <%= f.submit "Log In", class: "button" %>
	<% end %>
	<small class="toggle"><a href="#">Sign Up</a></small>
</div>
