<div class="profile">
<h1>My Profile</h1>

<h2>Tags</h2>

<% @user.tags.uniq.each do |tag| %>
  <ul>
  	<li class="tag"><%= link_to tag.content.capitalize, tag %></li>
  </ul>
<% end %>

<h2>Latest Snippets</h2>
  <% @user.snippets.limit(5).each do |s| %>
    <p> <%= truncate(s.content) %></p>
  <% end %>
</div>
