<div class="container">
  <h1 class="header"><%= @tag.content.capitalize %></h1>
  <% @snippets.each do |snip| %>
    <div class="snippet">
      <%= render 'tags/info', snip: snip %>
      <p><%= snip.content %></p>
    </div>
  <% end %>
</div>
